<section id="features" class="features-area pt-110">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-7">
    <div class="section-title text-center pb-25">
    <h3 class="title">Awesome Key Features.</h3>
    <p class="text">Alii nusquam cu duo, vim eu consulatu percipitur, meis dolor comprehensam at vis. Vel ut percipitur dignissim signiferumque.</p>
    </div> 
    </div>
    </div> 
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="features-items">
    <div class="single-features features-color-1 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUpBig;">
    <div class="features-icon d-flex justify-content-center align-items-center">
    <i class="lni lni-laptop-phone"></i>
    </div>
    <div class="features-content media-body">
    <h4 class="features-title">Fully Responsive</h4>
    <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
    </div>
    </div> 
    <div class="single-features features-color-2 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.4s; animation-name: fadeInUpBig;">
    <div class="features-icon d-flex justify-content-center align-items-center">
    <i class="lni lni-leaf"></i>
    </div>
    <div class="features-content media-body">
    <h4 class="features-title">Refreshing Design</h4>
    <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
    </div>
    </div> 
    <div class="single-features features-color-3 d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
    <div class="features-icon d-flex justify-content-center align-items-center">
    <i class="lni lni-bootstrap"></i>
    </div>
    <div class="features-content media-body">
    <h4 class="features-title">Bootstrap 4</h4>
    <p class="text">Lorem ipsum dolor sit ametco snsetetur sadipscing elitr sed diam nonumy eirmod.</p>
    </div>
    </div> 
    </div> 
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="features-image wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.5s; animation-name: fadeInRightBig;">
    <img class="image" src="assets/images/features-app.png" alt="App">
    <div class="features-shape-1"></div>
    <div class="features-shape-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="599.709" height="549.102" viewBox="0 0 599.709 549.102" class="svg replaced-svg">
      <path id="Polygon_7" data-name="Polygon 7" d="M199.061,66.775a61,61,0,0,1,98.266,0L424.9,240.16c29.639,40.281.877,97.152-49.133,97.152H120.617c-50.01,0-78.772-56.871-49.133-97.152Z" transform="matrix(-0.848, -0.53, 0.53, -0.848, 420.961, 549.102)" fill="#0898e7"></path>
    </svg>
     </div>
    </div> 
    </div>
    </div> 
    </div> 
    </section>