<div class="container">
    <form class="form"  [formGroup]="resetForm">
        <div class="row">
            <h4>Reset Password</h4>
           
            <div class="input-group input-group-icon">
                <input #email name="email" type="email" placeholder="Email Address"  formControlName="email" />
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input #verifCode name="verifCode" type="password" placeholder="Your Code"  formControlName="code" />
                <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
            <div class="input-group input-group-icon">
                <input #password name="password" type="password" placeholder="Password"  formControlName="password" />
                <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
        </div>
       
        
        <div class="row">
            <button type="submit" (click)="resetpassword({email: email.value ,password:password.value,verifCode:verifCode.value})"*ngIf="resetForm.valid">Validate</button>
        </div>
        <div *ngIf="!resetForm.valid && resetForm.touched" class="alert alert-danger mt-4" role="alert">
            Please Fill the form
          </div>
    </form>
</div>