<section id="download" class="download-area pt-70 pb-40">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-9">
                <div class="download-image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.2s">
                    <img class="image" src="assets/images/download-app.png" alt="download">
                    
                    <div class="download-shape-1"></div>
                    <div class="download-shape-2">
                        <img class="svg" src="assets/images/download-shape.svg" alt="shape">
                    </div>
                </div> <!-- download image -->
            </div>
            <div class="col-lg-6">
                <div class="download-content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <h3 class="download-title">Download and Start Using!</h3>
                    <p class="text">Our mobile application “WeAdvert” aims to facilitate communication between advertisers who want to use our system to publish their ads and the audience they want to target and motorists who want to be part of this new way of advertising in order to generate new income from their cars.</p>
                    <ul>
                        <li><a class="app-store" href="#"><img src="assets/images/app-store.png" alt="store"></a></li>
                        <li><a class="play-store" href="#"><img src="assets/images/play-store.png" alt="store"></a></li>
                    </ul>
                </div> <!-- download image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>