<section id="screenshots" class="screenshots-area pt-110 pb-120">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-7">
    <div class="section-title text-center pb-45">
    <h3 class="title">App Screenshots.</h3>
    <p class="text">Alii nusquam cu duo, vim eu consulatu percipitur, meis dolor comprehensam at vis. Vel ut percipitur dignissim signiferumque.</p>
    </div> 
    </div>
    </div> 
    <div class="row">
    <div class="col-lg-12">
    <div class="screenshot-slider">
    <div class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-initialized swiper-container-horizontal">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-2290px, 0px, 0px); perspective-origin: 2635px 50%;"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(320px, 0px, -1200px) rotateX(0deg) rotateY(0deg); z-index: -7;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-1.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(280px, 0px, -1050px) rotateX(0deg) rotateY(0deg); z-index: -6;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-2.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(240px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-3.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(200px, 0px, -750px) rotateX(0deg) rotateY(0deg); z-index: -4;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-4.png" alt="screenshot">
    </div>
    </div>
    <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(160px, 0px, -600px) rotateX(0deg) rotateY(0deg); z-index: -3;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-1.png" alt="screenshot">
    </div>
    </div>
    <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(120px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-2.png" alt="screenshot">
    </div>
    </div> 
    <div class="swiper-slide" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(80px, 0px, -300px) rotateX(0deg) rotateY(0deg); z-index: -1;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-3.png" alt="screenshot">
    </div>
    </div> 
    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(40px, 0px, -150px) rotateX(0deg) rotateY(0deg); z-index: 0;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-4.png" alt="screenshot">
    </div>
    </div> 
    <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-1.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(-40px, 0px, -150px) rotateX(0deg) rotateY(0deg); z-index: 0;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-2.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(-80px, 0px, -300px) rotateX(0deg) rotateY(0deg); z-index: -1;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-3.png" alt="screenshot">
    </div>
    </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(-120px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2;">
    <div class="slider-image">
    <img src="../../assets/images/screenshot-4.png" alt="screenshot">
    </div>
    </div></div> 
    
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
    <div class="screenshot-frame d-none d-sm-block">
    <img src="../../assets/images/app-frame.png" alt="frame">
    </div> 
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> 
    </div> 
    </div>
    </div> 
    </div> 
    </section>